<template>
    <div id="main">
        <el-table v-if="getPosts.length"
                  :data="getPosts"
                  style="width: 100%" @row-click="toggle" ref="postsData">

            <el-table-column type="expand" >
                <template slot-scope="props">
                    <p>Id: {{ props.row.id }}</p>
                    <p>UserId: {{ props.row.userId }}</p>
                    <p>Title: {{ props.row.title }}</p>
                    <p>Body: {{ props.row.body }}</p>

                </template>

            </el-table-column>
            <el-table-column
                             prop="id"
                             label="Id"
                             width="100">

            </el-table-column>
            <el-table-column
                    prop="title"
                    label="Title"
                    width="500">
            </el-table-column>
        </el-table>
        <div class="h1" v-else>Идет загрузка...</div>
    </div>
</template>
<style lang="scss" scoped>
    @import "./main.scss";
</style>

<script src="./main.js"></script>